USE [SWP391_Project_Lastest]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](max) NOT NULL,
	[last_name] [nvarchar](max) NOT NULL,
	[gender] [bit] NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[dob] [date] NOT NULL,
	[phone_number] [nvarchar](12) NOT NULL,
	[address] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK__Account__46A222CD550624C0] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[act_description] [text] NOT NULL,
	[act_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendance_id] [bigint] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[check_date] [date] NOT NULL,
	[status] [int] NOT NULL,
	[teacher_id] [int] NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [nvarchar](20) NOT NULL,
	[grade] [int] NOT NULL,
	[class_description] [text] NOT NULL,
	[teacher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[criteria_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[criteria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[kid_id] [int] NULL,
	[teacher_id] [int] NULL,
	[fb_content] [nvarchar](max) NULL,
	[rating] [float] NULL,
	[fb_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kindergartner]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kindergartner](
	[kinder_id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[dob] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[img] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[kinder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NULL,
	[note] [text] NULL,
	[criteria_id] [int] NULL,
	[semester] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NULL,
	[activity_id] [int] NULL,
	[slot_id] [int] NULL,
	[schedule_date] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slot]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slot](
	[slot_id] [int] IDENTITY(1,1) NOT NULL,
	[start_hour] [float] NOT NULL,
	[end_hour] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Study_Record]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Study_Record](
	[study_record_id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NULL,
	[kinder_id] [int] NULL,
	[study_year] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[study_record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_achivement]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_achivement](
	[achivement_id] [int] IDENTITY(1,1) NOT NULL,
	[content] [text] NOT NULL,
	[teacher_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[achivement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_record]    Script Date: 11/3/2022 11:36:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_record](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_id] [int] NULL,
	[description] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [first_name], [last_name], [gender], [email], [password], [dob], [phone_number], [address], [img], [role_id]) VALUES (8, N'Jonah', N'Hex', 1, N'jonah@gmail.com', N'$2a$12$Ckp6oPgPhQDHpNOEB0Nty.dQCRMdvoAT1aw7453F29JfL/JPuP5YO', CAST(N'1890-01-14' AS Date), N'0858050379', N'Russia', N'https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Josh_Brolin_Berlin_2016.jpg/250px-Josh_Brolin_Berlin_2016.jpg', 1)
INSERT [dbo].[Account] ([account_id], [first_name], [last_name], [gender], [email], [password], [dob], [phone_number], [address], [img], [role_id]) VALUES (9, N'Macey', N'Albert', 1, N'macey@gmail.com', N'$2a$12$WPi.xX1PE/r2u.wvDP156eeBB52bFkDPa6C9so2kCJYDk44iP6pPS', CAST(N'0001-01-01' AS Date), N'0813601669', N'Canada', N'', 3)
INSERT [dbo].[Account] ([account_id], [first_name], [last_name], [gender], [email], [password], [dob], [phone_number], [address], [img], [role_id]) VALUES (10, N'viet', N'le', 1, N'levietaqviet1@gmail.com', N'$2a$12$y1wtGfgJ16.tx1.Zwxfl1O/SBEN6L1/qHEQbJyiZj/iaj2yiG6QQS', CAST(N'2001-04-16' AS Date), N'0858050379', N'New York', NULL, 2)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([activity_id], [act_description], [act_name]) VALUES (1, N'Have breakfast', N'Breakfast')
INSERT [dbo].[Activity] ([activity_id], [act_description], [act_name]) VALUES (2, N'Do workout', N'Physical Education')
INSERT [dbo].[Activity] ([activity_id], [act_description], [act_name]) VALUES (3, N'Study', N'Study')
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([attendance_id], [student_id], [check_date], [status], [teacher_id]) VALUES (1, 21, CAST(N'2022-10-24' AS Date), 1, 9)
INSERT [dbo].[Attendance] ([attendance_id], [student_id], [check_date], [status], [teacher_id]) VALUES (2, 21, CAST(N'2022-10-25' AS Date), 0, 9)
INSERT [dbo].[Attendance] ([attendance_id], [student_id], [check_date], [status], [teacher_id]) VALUES (3, 22, CAST(N'2022-10-24' AS Date), 0, 9)
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([class_id], [class_name], [grade], [class_description], [teacher_id]) VALUES (2, N'SE1609', 9, N'It was great', 9)
INSERT [dbo].[Class] ([class_id], [class_name], [grade], [class_description], [teacher_id]) VALUES (3, N'SE1610', 3, N'It was great', 26)
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_id], [kid_id], [teacher_id], [fb_content], [rating], [fb_date]) VALUES (1, 21, 9, N'', 0, CAST(N'2022-11-02' AS Date))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Kindergartner] ON 

INSERT [dbo].[Kindergartner] ([kinder_id], [parent_id], [first_name], [last_name], [dob], [gender], [img]) VALUES (12, 8, N'viet', N'Parr Smith', CAST(N'0001-01-01' AS Date), 1, N'')
INSERT [dbo].[Kindergartner] ([kinder_id], [parent_id], [first_name], [last_name], [dob], [gender], [img]) VALUES (14, 9, N'Alyx', N'McGee', CAST(N'2020-01-02' AS Date), 0, NULL)
INSERT [dbo].[Kindergartner] ([kinder_id], [parent_id], [first_name], [last_name], [dob], [gender], [img]) VALUES (15, 9, N'Sana', N'McGee', CAST(N'2020-01-03' AS Date), 0, NULL)
SET IDENTITY_INSERT [dbo].[Kindergartner] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'ROLE_PARENT')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'ROLE_TEACHER')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([schedule_id], [class_id], [activity_id], [slot_id], [schedule_date]) VALUES (36, 2, 1, 1, CAST(N'2022-06-22' AS Date))
INSERT [dbo].[Schedule] ([schedule_id], [class_id], [activity_id], [slot_id], [schedule_date]) VALUES (37, 2, 2, 2, CAST(N'2022-06-22' AS Date))
INSERT [dbo].[Schedule] ([schedule_id], [class_id], [activity_id], [slot_id], [schedule_date]) VALUES (38, 2, 3, 3, CAST(N'2022-06-22' AS Date))
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Slot] ON 

INSERT [dbo].[Slot] ([slot_id], [start_hour], [end_hour]) VALUES (1, 7, 8)
INSERT [dbo].[Slot] ([slot_id], [start_hour], [end_hour]) VALUES (2, 8, 9)
INSERT [dbo].[Slot] ([slot_id], [start_hour], [end_hour]) VALUES (3, 9, 10)
SET IDENTITY_INSERT [dbo].[Slot] OFF
GO
SET IDENTITY_INSERT [dbo].[Study_Record] ON 

INSERT [dbo].[Study_Record] ([study_record_id], [class_id], [kinder_id], [study_year]) VALUES (12, 2, 12, 2022)
INSERT [dbo].[Study_Record] ([study_record_id], [class_id], [kinder_id], [study_year]) VALUES (15, 2, 14, 2022)
INSERT [dbo].[Study_Record] ([study_record_id], [class_id], [kinder_id], [study_year]) VALUES (16, 2, 15, 2022)
SET IDENTITY_INSERT [dbo].[Study_Record] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__role_id__3C69FB99] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__role_id__3C69FB99]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__stude__4F7CD00D] FOREIGN KEY([student_id])
REFERENCES [dbo].[Kindergartner] ([kinder_id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK__Attendanc__stude__4F7CD00D]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__teach__5070F446] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK__Attendanc__teach__5070F446]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK__Class__teacher_i__3F466844] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK__Class__teacher_i__3F466844]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([kid_id])
REFERENCES [dbo].[Kindergartner] ([kinder_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK__Feedback__teache__412EB0B6] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK__Feedback__teache__412EB0B6]
GO
ALTER TABLE [dbo].[Kindergartner]  WITH CHECK ADD  CONSTRAINT [FK__Kindergar__paren__4222D4EF] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kindergartner] CHECK CONSTRAINT [FK__Kindergar__paren__4222D4EF]
GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD FOREIGN KEY([criteria_id])
REFERENCES [dbo].[Criteria] ([criteria_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Record]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Kindergartner] ([kinder_id])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__activi__571DF1D5] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activity] ([activity_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__activi__571DF1D5]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__class___5812160E] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([class_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__class___5812160E]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__slot_i__59063A47] FOREIGN KEY([slot_id])
REFERENCES [dbo].[Slot] ([slot_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__slot_i__59063A47]
GO
ALTER TABLE [dbo].[Study_Record]  WITH CHECK ADD  CONSTRAINT [FK__Study_Rec__class__59FA5E80] FOREIGN KEY([class_id])
REFERENCES [dbo].[Class] ([class_id])
GO
ALTER TABLE [dbo].[Study_Record] CHECK CONSTRAINT [FK__Study_Rec__class__59FA5E80]
GO
ALTER TABLE [dbo].[Study_Record]  WITH CHECK ADD FOREIGN KEY([kinder_id])
REFERENCES [dbo].[Kindergartner] ([kinder_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher_achivement]  WITH CHECK ADD  CONSTRAINT [FK__Teacher_a__teach__49C3F6B7] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher_achivement] CHECK CONSTRAINT [FK__Teacher_a__teach__49C3F6B7]
GO
ALTER TABLE [dbo].[Teacher_record]  WITH CHECK ADD  CONSTRAINT [FK__Teacher_r__teach__4AB81AF0] FOREIGN KEY([teacher_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher_record] CHECK CONSTRAINT [FK__Teacher_r__teach__4AB81AF0]
GO
