<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/assets/image/logo2-removebg-preview.png}">
    <title>YS ChildCare</title>
    <link rel="stylesheet" th:href="@{/parent/css/parenthome.css}">
    <link rel="stylesheet" th:href="@{/parent/css/childprofile.css}">
</head>
<body>

<div class="wrapper">
    <div class="home">
        <div class="left-side-menu">
            <div class="vertical-menu">
                <div class="user-welcome">
                    <img class="user-img" th:src="@{/parent/img/userImg/dummy-user-img.png}"
                         style="width: 80px; height: 80px;" alt="">
                    <p>Jimmy Olsen</p>

                </div>
                <div class="menu-item-container">
                    <ul class="item-lists" th:switch="${session.isKin}">
                        <li class="menu-item current1" th:case="true">
                            <a href="/parents/childprofile">Child Information</a>
                        </li>
                        <li class="menu-item">
                            <a href="/parents/ParentsProfile">Parent Information</a>
                        </li>
                        <li class="menu-item">
                            <a href="/parents/child">Child Register</a>
                        </li>
                        <li class="menu-item">
                            <a href="/home/changePassWo">Change Password</a>
                        </li>
                        <li class="menu-item ">
                            <a href="/parents/viewTimeTable">View Time Table</a>
                        </li>
                    </ul>
                </div>
                <div style="border-top: 3px solid gray;"></div>
                <div style="position: absolute;margin-top: 1vh; margin-left: 40px">
                    <input type="button" class="log-out_button"
                           onclick="window.location.replace('/home/logoutSuccessful')" value="Log out"/>
                </div>
            </div>
        </div>

        <div class="right-side">
            <div class="page-content">
                <div class="kid-profile">
                    <div class="kid-profile_header">

                        <div class="img-section">
                            <img th:src="@{/parent/img/userImg/download.png}" alt="">
                        </div>

                        <div class="personel-section">

                            <div class="personel-section">

                            </div>


                        </div>
                    </div>

                    <div class="list-option" id="options">
                        <div class="attendence option-item">
                            <a href="/parents/childdetailAttdence">Attendance</a>
                        </div>
                        <div class="profile option-item current">
                            <a href="/parents/childprofile">Profile</a>
                        </div>
                    </div>


                    <form th:action="@{/parents/updateChild?id={id}(id=${mainchildid})}" method="POST">
                        <div class="kid-profile_content">
                            <div class="class content-item wrap-input100 validate-input">
                                <div class="item-title">
                                    <strong>First Name</strong>
                                </div>

                                <input type="text" class="class content-item" name="txtFirstName" id="childfirstname"
                                       th:value="${Kinder.firstName}" pattern="([a-zA-Z',.-]{2,8}[ ]{0,1}){1,3}"
                                       title="Alphabetical letters only" required="">
                                <span class="focus-input100"></span>
                            </div>
                            <span class="invalid" id="fnameinvalid1" style="display: none;margin-left: 20%">Name cannot contain
                                    numeric characters !</span>
                            <span class="invalid" id="fnameinvalid2" style="display: none;margin-left: 20%">Name cannot contain
                                    special characters !</span>

                            <div class="class content-item">
                                <div class="item-title">
                                    <strong>Last Name</strong>
                                </div>

                                <input type="text" class="class content-item" name="txtLastName" id="childlastname"
                                       th:value="${Kinder.lastName}" pattern="([a-zA-Z',.-]{2,8}[ ]{0,1}){1,3}"
                                       title="Alphabetical letters only" required="">
                                <span class="focus-input100"></span>
                            </div>


                            <div class="class content-item">
                                <div class="item-title">
                                    <strong>Date of birth</strong>
                                </div>
                                <input type="date" class="class content-item" name="dob" required=""
                                       th:value="${Kinder.dob}">
                            </div>
                            <div class="content-item">
                                <div class="item-title">
                                    <strong>Gender</strong>
                                </div>
                                <select style="width:570px; " class="class content-item" name="gender" id="childgender">
                                    <option th:selected="${Kinder.gender}" value="1">Male</option>
                                    <option th:selected="${!Kinder.gender}" value="0">FeMale</option>
                                </select>
                            </div>
                            <div class="class content-item">
                                <div class="item-title">
                                    <strong>Class</strong>


                                </div>
                                <p th:text="${studyRecord.classId.className}"></p>

                            </div>
                            <div class="content-item phone">
                                <div class="item-title">
                                    <strong>Parent's phone</strong>
                                </div>
                                <p th:text="${Account.phoneNumber}"></p>


                            </div>
                            <div class="content-item address">
                                <div class="item-title">
                                    <strong>Address</strong>
                                </div>
                                <p th:text="${Account.address}"></p>

                            </div>
                            <div class="content-item description">
                                <div class="item-title">
                                    <strong>Parent</strong>
                                </div>
                                <p th:text="${Account.firstName}+' '+${Account.lastName} "></p>

                            </div>
                            <div class="mb-6">

                                <input type="submit" class="child-update" value="Update profile"/>
                            </div>
                        </div>


                    </form>


                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>