.kid-profile {
    margin-top: 15px;
    background-color: #fff;
    border-radius: 20px;
    height: 120vh;
}

.kid-profile .kid-profile_header {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.img-section {
    padding-right: 30px;
}

.personel-section p,
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;


}

.personel-section p:not(:first-child) {
    padding-top: 10px;
    font-size: 20px;
}

.kid-profile .list-option {
    width: 372px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px auto;
    border-radius: 20px;
    line-height: 50px;
    box-shadow: 3px 4px 4px 4px rgb(0 0 0 / 12%);
}

.option-item {
    width: 30%;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-option .option-item:hover {
    background-color: #889BFF;
    border-radius: 20px;
}

.list-option .option-item:hover a {
    color: #fff;
}

.list-option a {
    text-align: center;
    text-decoration: none;
    color: #717171;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.list-option button-option {
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #889BFF;
    border: none;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
}

.button-option::hover {
    background-color: #889BFF;
}

.button-option:active {
    background-color: #889BFF;
    transform: translateY(4px);
}

.kid-profile_content {
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

.kid-profile_content .content-item {
    width: 573px;
    height: 55px;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 5px;
    border-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.kinder-list {
    width: 35%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    margin: 20px auto;
    border-radius: 5px;
}

.kinder-list .list-item {

    height: 55px;

    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    margin: 20px auto;
    border-radius: 5px;
    border-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.content-item .item-title {
    width: 150px;
    height: 100%;
    background-color: #889BFF;
    border-radius: 5px 0 0 5px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    position: relative;
}

.content-item .parent-infor {
    background-color: #f2f2f2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content-item .child-gender {
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content-item p {
    width: 100%;
    height: 100%;
    /* text-align: center; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
}

.item-title strong {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
}

.item-title input {
    padding: 15px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.description > p {
    padding: 10px 5px;
}


/* Activate */

.current {
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #889BFF;
    /* color: #fff; */
    border-radius: 20px;
}

.current > a {
    color: #fff;
}

.button {
    padding: 1px 3px;
    font-size: 15px;
    border-radius: 12px;
    background-color: #cccccc;
    border: none;
    margin-left: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);

}

.button:hover {
    background-color: #00ff00;
}

.button:active {
    background-color: #00ff00;
    transform: translateY(4px);
}

.child-update {
    cursor: pointer;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #889BFF;
    border: none;
    margin-left: 45%;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);

}

.child-update:hover {
    background-color: #889BFF;
}

.child-update:active {
    background-color: #889BFF;
    transform: translateY(4px);
}

.log-out_button {
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 12px;
    background-color: #cccccc;
    border: none;
    margin-left: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
}

.log-out_button:hover {
    background-color: red;
}

.log-out_button:active {
    background-color: red;
    transform: translateY(4px);
}

.item-list {

    height: 25px;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

