<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/admin/kinder/css/style.css}">
    <link rel="stylesheet" th:href="@{/admin/kinder/boot/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/kinder/boot/bootstrap.css}">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>YS ChildCare</title>
</head>

<body>
<form th:action="@{/kinderController/update?id={id}(id=${Kindergartner.KinderId})}" method="POST">
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img th:src="@{/images/logo.jpg}" alt="">
            </div>

            <span class="logo_name"><a href="listaccount"
                                       style="text-decoration: none;color: black">Admin Page</a></span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin/">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Account</span>
                </a></li>

                <li><a href="/kinderController/">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Kindergartner</span>
                </a></li>
                <li><a href="/admin/clazz">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Class</span>
                </a></li>
                <li><a href="/admin/scheduleT">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Schedule</span>
                </a></li>
                <li><a href="/home/changePassWo">
                    <i class="uil uil-comments"></i>
                    <span class="link-name">Change Password</span>
                </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="/home/logoutSuccessful">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                </li>
            </ul>
        </div>
    </nav>

    <div class="dashboard">

        <div class="dash-lefttop">
            <img src="https://i.pinimg.com/originals/72/45/fb/7245fb0ca786bb4a98fb8465e437c5bb.jpg" alt="">
            <a href="#">User</a>
        </div>

        <div class="form-title" style="text-align: center;font-size: 50px;">Update Kinder</div>
        <div class="form-content" style="width: 80%;height: auto; margin-left: 10%; padding-top: 0;padding-bottom: 0;">

            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" name="txtFirstName" th:value="${Kindergartner.firstName}"
                       pattern="([a-zA-Z',.-]{2,8}[ ]{0,1}){1,3}"
                       title="Name sai dinh dang" required="">
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="txtLastName" th:value="${Kindergartner.lastName}"
                       pattern="([a-zA-Z',.-]{2,8}[ ]{0,1}){1,3}"
                       title="Name sai dinh dang" required="">
            </div>
            <div class="mb-3">
                <label class="form-label">DOB</label>
                <input type="date" name="dob" th:value="${Kindergartner.dob}" required=""/>(yyyy-MM-dd)<br/>
            </div>
            <div class="rdCheck" style="display: flex">
                <div class="form-check">
                    <label class="form-label">Gender</label>
                    <td th:switch="${Kindergartner.gender}">
                <span th:case="true">
                  <input type="radio" name="gender" id="gender1" checked value="male"/> <label
                        for="gender1">Male</label>
                   <input type="radio" name="gender" id="gender2" value="female"/> <label for="gender2">Female</label>
                </span>
                        <span th:case="false">
                   <input type="radio" name="gender" id="gender3" value="male"/> <label for="gender3">Male</label>
                   <input type="radio" name="gender" id="gender4" checked value="female"/> <label
                                for="gender4">Female</label>
               </span>
                    </td>
                    <br/>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="text" class="form-control" th:value="${Kindergartner.img}" name="txtImg" value="${s.img}">
            </div>
            <div class="d-grid gap-2 d-md-block" style="margin-top: 30px; margin-bottom: 30px; ;">
                <input type="submit" value="Save"/>
            </div>
        </div>
    </div>
    </div>
</form>
</body>

</html>
